body{
    background-color: #000000;
    font-family:"Yu Gothic","游ゴシック","メイリオ","Meirio","ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif,"roboto";
    color="#ffffff"
    position: :relative;
    width:100%;
    height:100%;
    margin:0;
    display: block;
    background-color: #6AC5CE;
    text-decoration: none;
}

.gnav{
    position: fixed;
    top:0;
    width:100%;
    z-index:24;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#menu img{
    position:fixed;
    right: 38px;
    top: 29px;
}

tittle{
   position: fixed;
   left: -60px;
   top: 226px;
   
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;

   color: #ffffff;

   transform: rotate(-90deg);
   z-index: 10;
}

.contact-head{
    position: fixed;
    right: 15px;
    top: 300px;
    text-decoration: none;
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;
   transform: rotate(-90deg);
    color: #ffffff;
   z-index: 10;
}


html{
    position: relative;
    width: 1366px;
    height: 691px;
    text-decoration: none;
}

.logoR{
    position: fixed;
    z-index: 5;
}

img.R{
    width: auto;
    height: 120vh;
}

img.N{
    width: 196px;
    height: 146px;
}


.btn{
  color:white;
  display:inline-block;
  opacity:0.8;
    width: 25px;
	height: 25px;
  border-radius:50%;
}

.btn:hover{
  opacity:1;
}

.facebook{
    position: fixed;
    right: 35px;
    top: 29.06%;
    bottom: 94.14%;
  
  background-color:#3b5998;
  margin-right:10px;
}

i{
    margin-left: 5px;
    margin-top: 3px
}

.btnfacebook i{
    margin-left: 8px;
}

.twitter{
    position: fixed;
    right: 35px;
    top: 34.16%;
    bottom: 93.04%;
  background-color:#55acee;
    margin-right:10px;
}

.helpbox{
    margin: auto;
    width: 100%;
    height: 100%;
}

.icon{
position: absolute;
width: 100%;
text-align: center;
height: 42px;
    top: 161px;
margin: auto;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.name{
    padding: 10px;
    width: 384px;
    height: 60px;
    left: 278px;
    top: 283px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
}

.text{
    padding: 10px;
    width: 384px;
    height: 60px;
    left: 278px;
    top: 390px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
}

.contentbox{
    padding: 10px;
    width: 384px;
    height: 167px;
    left: 704px;
    top: 283px;
    MARGIN-TOP: 12px;
    background: #FFFFFF;
    border-radius: 6PX;
}

.dname{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 278px;
    top: 261px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}

.demail{
   position: absolute;
    width: 121px;
    height: 24px;
    left: 278px;
    top: 366px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}

.dcontent{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 704px;
    top: 254px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}

.submit{
    position: absolute;
    width: 212px;
    height: 63px;
    left: 577px;
    top: 497px;
}
button:hover {
    background: #FF5C5C;
}

body > div > a > button {
    margin-left: 0;
    margin: 0 auto;
    display: block;
}
a + button {
    margin-left: 20px
}
a {
    text-decoration: none;
}
a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

button {
    padding: 10px 13px 11px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    font-weight: bold;
    border-radius: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #0093c9;
    color: #ffffff;
    background: #FF8989;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13),inset 0px 2px 0px -1px #FF8989;
}
input[type=button] {
    padding: 10px 13px 11px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #c3c3c3;
    color: #7c7c7c;
    background: #ffffff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    margin-left: 180px;
    margin-right: 25px;
}
input[type=button] + button {
    display: inline-block;
}