
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, address, img, small, ul, li, footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

head {
    display: none;
}

body {
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    background: #FFF;
    color: #333;
    font-size: 75%;
    line-height: 180%;
}

body, div, ul, li, h1, h2, h3, h4, h5, h6,  form, fieldset, input, textarea, p, {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height:75px;
    z-index: 10;
    position: fixed;
}

header {
    background: #fff url(../img/bg_header.jpg) center bottom repeat-x;
}

header nav {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header nav h1 {
    width: 305px;
    padding-top: 26px;
}

header nav h1 {
    float: left;
}

header nav ul {
    overflow: hidden;
    float: left;
    padding: 34px 0;
}

nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    padding: 0 0 0 25px;
}
li {
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

#wrap-main #gnav ul li.nav1 a, #wrap-main #gnav ul li.nav2 a, #wrap-main #gnav ul li.nav3 a, #wrap-main #gnav ul li.nav4 a,#wrap-main #gnav ul li.nav5 a{
    display: block;
    text-align: center;
    z-index: 50;
}

#wrap-main #gnav ul li.nav1 a{
    width: 60px;
    background: url(../img/nav_01.png) 0px 50% no-repeat;
    height: 20px;
    background-size: auto 14px;
}
#wrap-main #gnav ul li.nav2 a{
    width: 90px;
    background: url(../img/nav_02.png) 0px 50% no-repeat;
    height: 20px;
    background-size: auto 14px;
}
#wrap-main #gnav ul li.nav3 a{
    width: 80px;
    background: url(../img/nav_03.png) 0px 50% no-repeat;
    height: 20px;
    background-size: auto 14px;
}
#wrap-main #gnav ul li.nav4 a{
    width: 148px;
    background: url(../img/nav_04.png) 0px 50% no-repeat;
    height: 28px;
    background-size: auto 31px;
}

#wrap-main #gnav ul li.nav5 a{
    width: 148px;
    background: url(../img/nav_05.png) 0px 50% no-repeat;
    height: 28px;
    background-size: auto 31px;
}
a {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
}
#wrap-main #gnav ul li {
    margin-left: 5px;
    text-indent: -99999px;
}

@media screen and (max-width: 601px){
    #wrap-main #ContensArea .mainvisual-content{
    min-height: 93vh;
     position: relative;
}
}

@media screen and (min-width: 600px){
   #wrap-main #ContensArea .mainvisual-content{
    min-height: 642px;
     position: relative;
}
}

#wrap-main #ContensArea .mainvisual-bg{
    background: url(../img/mainvisual_bg.png) no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 601px){
#wrap-main #ContensArea .mainvisual-content .mainviual-inner{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    }}

@media screen and (min-width: 600px){
    #wrap-main #ContensArea .mainvisual-content .mainviual-inner{
    width: 93%;
    margin: 0 auto;
    position: relative;
    }
}

#wrap-main #ContensArea .mainvisual-content .mainviual-inner .left{
    position: absolute;
    top: 125px;
    left: 0;
}

#wrap-main #ContensArea .mainvisual-content .mainviual-inner .right{
    position: absolute;
    top: 325px;
    right: 0;
     animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#wrap-main #ContensArea .mainvisual-content .mainviual-inner .blog_btn{
    position: absolute;
    top: 465px;
    right: 0;
}

@media screen and (min-width: 600px){#wrap-main #ContensArea .css-fade{
    position: absolute;
    right: 0px;
    width: 100vw;
    height: 642px;
    background-color: #FFDCD9;
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    z-index: -1;
}}

@media screen and (max-width: 601px){
    #wrap-main #ContensArea .css-fade{
    position: absolute;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #FFDCD9;
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    z-index: -1;
}
}


#wrap-main #ContensArea .tel .tel-pic{
    position: fixed;
    right: 0px;
    top:100px;
    background-color: #FFDCD9;
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    z-index: 1;
}

.section_title .bar_ttl .bar{
    position: absolute;
    width: 100%;
}

    
.section_title .section_sm{
    width: 1000px;
    margin: 0 auto;
}

.section_title .section_point{
    width: 1000px;
    height: 450px;
}
.section_title .section_vm{
    padding: 70px 0;
}
    
.section_title .section_point .unit-item {
    width: 1000px;
    float: left;
    margin-top: 175px;
    margin-bottom: 70px;
    text-align: center;
}

.section_title .section_point .unit-elemet {
    position: absolute;
    width: 654px;
    float: left;
    padding-left: 323px;
    margin-top: 175px;
    margin-bottom: 70px;
    text-align: center;
}


.section_title .ttl-h3 {
    padding-bottom: 40px;
}
    
.section_title .ttl-h3 p {
    float: left;
}

.section_title .ttl-h3 h3 {
    position: absolute;
    float: left;
    margin-top: 70px;
    margin-left: 67px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 0;
}

.section_title .ttl-h3-2 h3 {
    position: absolute;
    float: left;
    margin-top: 70px;
    margin-left: 397px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 0;
}

.section_title .ttl-h3-1 .sankaku:before{
    content:"";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image:url(../img/sankaku.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.section_cors_pr{
    position: relative;
    height: 1920px;
}

.section_visual{
    background: url(../img/section_bg_02.png) no-repeat center center;
    background-size: cover;
    height: 1920pxpx;
}

.section_cors_pr .unit_section_left{
    position: relative;
    width: 654px;
    float: left;
    padding-right: 345px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.section_cors_pr .unit_section_right{
    position: relative;
    width: 700px;
    float: left;
    padding-left: 233px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.section_cors_pr .unit_section_left .ttl-h3-1 p {
    float: right;
}

.passcontents .ttl-unit p{
    
}

.section_cors_pr .unit_section_left .ttl-h3-1 p{
    position: absolute;
    float: right;
    margin-top: -233px;
    margin-left: 305px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 0;
}

.section_cors_pr .unit_section_left .ttl-h3-1 h3{
    position: absolute;
    float: right;
    margin-top: -198px;
    margin-left: 305px;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 0;
}

.section_cors_pr .unit_section_right .ttl-h3-1 p {
    float: right;
}



.section_cors_pr .unit_section_right .ttl-h3-1 p{
    position: absolute;
    float: right;
    margin-top: -233px;
    margin-left: 332px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 0;
}

.section_cors_pr .unit_section_right .ttl-h3-1 h3{
    position: absolute;
    float: right;
    margin-top: -189px;
    margin-left: 332px;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 0;
}

.helpcontents .ttl-unit-h2{
    margin: auto;
    width: 156px;
    background: url(../img/content_03.png) 0px 50% no-repeat;
    height: 106px;
    background-size: auto 32px;
}

.ttl-unit-h2 h2{
    text-indent: -9999px;
    
}

.section_cors_pr .ttl-unit-h2{
    margin: auto;
    width: 126px;
    background: url(../img/content_01.png) 0px 50% no-repeat;
    height: 106px;
    background-size: auto 32px;
}

@media screen and (min-width: 600px){
.passcontents{
    position: relative;
    height: 345px;
}
}

@media screen and (max-width: 601px){
.passcontents{
    position: relative;
    height: 496px;
}
}


.passcontents .ttl-unit p{
    z-index: 1;
    height: 496x;
    width: auto;
    float: left;
    text-align: center;
}

@media screen and (min-width: 600px){.passcontents .ttl-unit span{
    position: absolute;
    display: flex;
	align-items: center;
	justify-content: center;
    top: 53%;
    left: 50%;
   transform: translateY(-50%) translateX(-50%);
   -webkit- transform: translateY(-50%) translateX(-50%);
    line-height: 40px;
    font-size: 27px;
    font-weight: 600;
    padding: 21px 0; 
    width: 630px;
    height: 50px;
    color: #fff;
    text-align: center;
    z-index: 10;
    }}

@media screen and (max-width: 601px){.passcontents .ttl-unit span{
    position: absolute;
    display: flex;
	align-items: center;
	justify-content: center;
    top:40%;
    left: 26%;
    
    line-height: 40px;
    font-size: 27px;
    font-weight: 600;
    padding: 21px 0; 
    width: 630px;
    height: 50px;
    color: #fff;
    text-align: center;
    z-index: 10;
    }}

.helpcontents{
    position: relative;
    height: 496px;
    background-color: #fff;
}


.footer{
    position: relative;
    height: 50px;
    background-color:dimgrey;
}

@media screen and (min-width: 600px){
.helpcontents .name{
    padding: 10px;
    width: 334px;
    height: 60px;
    left: 78px;
    top: 183px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
    }
}

@media screen and (max-width: 601px){
    .helpcontents .name{
    padding: 10px;
    width: 384px;
    height: 60px;
    left: 278px;
    top: 183px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
    }}

@media screen and (min-width: 600px){
.helpcontents .text{
    padding: 10px;
    width: 334px;
    height: 60px;
    left: 78px;
    top: 290px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
}
}

@media screen and (max-width: 601px){
    .helpcontents .text{
    padding: 10px;
    width: 384px;
    height: 60px;
    left: 178px;
    top: 290px;
    MARGIN-TOP: 6PX;
    background: #FFFFFF;
    border-radius: 6px;
}}

@media screen and (min-width: 600px){.helpcontents .contentbox{
    padding: 10px;
    width: 304px;
    height: 167px;
    left: 604px;
    top: 183px;
    MARGIN-TOP: 12px;
    background: #FFFFFF;
    border-radius: 6PX;}}
@media screen and (max-width: 601px){
.helpcontents .contentbox{
    padding: 10px;
    width: 384px;
    height: 167px;
    left: 704px;
    top: 183px;
    MARGIN-TOP: 12px;
    background: #FFFFFF;
    border-radius: 6PX;
}
}

@media screen and (min-width: 600px){
.helpcontents .dname{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 178px;
    top: 161px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}
}
@media screen and (max-width: 601px){.helpcontents .dname{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 278px;
    top: 161px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}}
@media screen and (min-width: 600px){
.helpcontents .demail{
   position: absolute;
    width: 121px;
    height: 24px;
    left: 178px;
    top: 266px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
    }}

@media screen and (max-width: 601px){
.helpcontents .demail{
   position: absolute;
    width: 121px;
    height: 24px;
    left: 278px;
    top: 266px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
    }}

@media screen and (min-width: 600px){
.helpcontents .dcontent{
    position: absolute;
    width: 198px;
    height: 22px;
    left: 604px;
    top: 154px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}
}
@media screen and (max-width: 601px){
.helpcontents .dcontent{
    position: absolute;
    width: 198px;
    height: 22px;
    left: 704px;
    top: 154px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #353535;
}
}

@media screen and (min-width: 600px){
.helpcontents .submit{
    position: absolute;
    width: 212px;
    height: 63px;
    left: 377px;
    top: 387px;
    }}

@media screen and (max-width: 601px){
.helpcontents .submit{
    position: absolute;
    width: 212px;
    height: 63px;
    left: 577px;
    top: 387px;
    }}

.helpcontents button:hover {
    background: #FF5C5C;
}

body > div > a > button {
    margin-left: 0;
    margin: 0 auto;
    display: block;
}
.helpcontents a + button {
    margin-left: 20px
}
.helpcontents a {
    text-decoration: none;
    text-decoration-color: #ffffff;
}
.helpcontents a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

.helpcontents button {
    padding: 10px 13px 11px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    font-weight: bold;
    border-radius: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #0093c9;
    color: #ffffff;
    background: #FF8989;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13),inset 0px 2px 0px -1px #FF8989;
}
.helpcontents input[type=button] {
    padding: 10px 13px 11px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #c3c3c3;
    color: #7c7c7c;
    background: #ffffff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    margin-left: 180px;
    margin-right: 25px;
}
.helpcontents input[type=button] + button {
    display: inline-block;
}

@keyframes fadein {
from {
    opacity: 0;
    transform: translateX(20px);
}
to {
    opacity: 1;
    transform: translateX(0);
}