body{
    background-color: #000000;
    font-family:"Yu Gothic","游ゴシック","メイリオ","Meirio","ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif,"roboto";
    color="#ffffff"
    position: :relative;
    width:100%;
    height:100%;
    margin:0;
    display: block;
    background-color: #000000;
    text-decoration: none;
}

.gnav{
    position: fixed;
    top:0;
    width:100%;
    z-index:24;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#menu img{
    position:fixed;
    right: 38px;
    top: 29px;
}

tittle{
   position: fixed;
   left: -60px;
   top: 226px;
   
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;

   color: #ffffff;

   transform: rotate(-90deg);
   z-index: 10;
}

.contact-head{
    position: fixed;
    right: 15px;
    top: 300px;
    text-decoration: none;
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;
   transform: rotate(-90deg);
    color: #ffffff;
   z-index: 10;
}


html{
    position: relative;
    width: 1366px;
    height: 691px;
}

.logoR{
    position: fixed;
    z-index: 5;
}

img.R{
    width: auto;
    height: 120vh;
}

img.N{
    width: 196px;
    height: 146px;
}


.nav p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    margin-right:10px;
}

.p0{
    position: absolute;
    width: 100%;
    top: 190px;
    text-align: center;

}

.p1{
    position: absolute;
    width:100%;
    top: 240px;
    text-align: center;
}

.p2{
    position: absolute;
    width: 100%;
    top: 290px;
    text-align: center;
}

.p3{ 
    position: absolute;
    width: 100%;
    top: 340px;
    text-align: center;
}

.p4{
    position: absolute;
    width: 100%;
    top: 390px;
    text-align: center;
}

.p5{
    position: absolute;
    width: 100%;
    top: 440px;
    text-align: center;
}


.btn{
  color:white;
  display:inline-block;
  opacity:0.8;
    width: 25px;
	height: 25px;
  border-radius:50%;
}

.btn:hover{
  opacity:1;
}

.facebook{
    position: fixed;
    right: 35px;
    top: 29.06%;
    bottom: 94.14%;
  
  background-color:#3b5998;
  margin-right:10px;
}

i{
    margin-left: 5px;
    margin-top: 3px
}

.btnfacebook i{
    margin-left: 8px;
}

.twitter{
    position: fixed;
    right: 35px;
    top: 34.16%;
    bottom: 93.04%;
  background-color:#55acee;
    margin-right:10px;
}

a{
    text-decoration: none;
}

.box{
    
width: 230px;
height: 233px;

background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;    
    margin: 16px;
    margin-top: 100px;
    
    

}

.box img{
     width: 230px;
    height: 233px;
    display: block;
    margin: auto;
    border-radius: 4px;
}

.box-animation{
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
