body{
    background-color: #F7F6F3;
    font-family:"Yu Gothic","游ゴシック","メイリオ","Meirio","ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif,"roboto";
    position: :relative;
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    transition: all 1s;
    text-decoration: none;
}

.header p{
    text-align: center
}
.head-lead{
    text-align: center;
}
.wrapper{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.gnav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:24;
}

tittle{
   position: fixed;
   left: -60px;
   top: 226px;
   
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;

   color: #000000;

   transform: rotate(-90deg);
   z-index: 10;
}

.contact-head{
    position: fixed;
    right: 15px;
    top: 300px;
    
   font-family: Roboto;
   font-style: normal; 
   font-weight: normal;
   font-size: 22px;
   line-height: 28px;
   text-decoration: none;
   color: #000000;

   transform: rotate(-90deg);
   z-index: 10;
}

html{
    position: relative;
    width: 1366px;
    height: 3752px;
}

.logoR{
    position:  absolute;
    z-index: 5;
}

@media screen and (min-width:1601px){
img.R{
    width: auto;
    height: 80vh;
}
}

@media screen and ( max-width:1600px ){
img.R{
    width: auto;
    height: 120vh;
}
}

img.N{
    width: 196px;
height: 146px;
}

.menu{
    position: fixed;
    right: 38px;
    top: 29px;
    
}
.fadelink{
    position:fixed;
    right: 38px;
    top: 29px;
}


h1{
    position: absolute;
    left:  46.25%;
    right: 11.27%;
    top: 6.15%;
    bottom: 89.1%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    z-index: 15;
}

header h2{
position: absolute;
width: 367px;
height: 28px;
left: 741px;
top: 268px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

header h3{
position: absolute;
left: 52.37%;
right: 17.42%;
top: 8.77%;
bottom: 86.67%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 21px;


color: #000000;
}


.nav p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right:10px;
}

.p1{
    position: absolute;
    left: 60.32%;
    right: 36.31%;
    top: 0.88%;
    bottom: 98.56%;
}

.p2{
    position: absolute;
    left: 65.45%;
    right: 31.77%;
    top: 0.88%;
    bottom: 98.56%;
}

.p3{ 
    position: absolute;
    left: 956px;
    top: 0.88%;
    bottom: 98.56%;
}

.p4{
    position: absolute;
    left: 1048px;
    top: 0.88%;
    bottom: 98.56%;
}

.p5{
    position: absolute;
    left: 1142px;
    top: 0.88%;
    bottom: 98.56%;
}

#id .nav span::after{
    content: "|";
    color: #114756;
    font-size: 10px;
    padding-left: 10px;
    opacity: 0.5;
    
}
.p1 span::after{
    left: 64.64%;
    right: 34.11%;
    top: 0.93%;
    bottom: 99.07%;
}

.p2 span::after{
    left: 69.03%;
    right: 29.72%;
    top: 0.93%;
    bottom: 99.07%;
}

.p3 span::after{
    left: 75.84%;
    right: 22.91%;
    top: 0.93%;
    bottom: 99.07%;
}

.p4 span::after{
    left: 82.65%;
    right: 16.11%;
    top: 0.93%;
    bottom: 99.07%;
}

.btn{
  color:white;
  display:inline-block;
  opacity:0.8;
    width: 25px;
	height: 25px;
  border-radius:50%;
}

.btn:hover{
  opacity:1;
}

.facebook{
    position:  fixed;
    right: 35px;
    top: 29.06%;
    bottom: 94.14%;
  
  background-color:#3b5998;
  margin-right:10px;
    z-index: 30;
}

i{
    margin-left: 5px;
    margin-top: 3px
}

.btnfacebook i{
    margin-left: 8px;
}

.twitter{
    position: fixed;
    right: 35px;
    top: 34.16%;
    bottom: 93.04%;
  background-color:#55acee;
    margin-right:10px;
    z-index: 30;
}



.box{
    width: 230px;
    height: 233px;
    
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
    margin: 16px;
}

.box img{
     width: 230px;
    height: 233px;
    display: block;
    margin: auto;
    border-radius: 4px;
}

.box-animation{
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.box h2{
    position: absolute;
    width: 230px;
    height: 21px;
    left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    float: left;
    text-align: left;


color: #135161;
}

.app{
    position: absolute;
    width: 983px;
    height: 741px;
    left: 150px;
    top: 861px;
    margin-top: 16px;
    
}

#app-wrap{
    margin-top: 80px;
}


.app-p1{
    top:4px;
    width: 80px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 823px;
    
    font-family: Roboto;
    font-style: normal;
    
    color: #135161;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    border-radius: 10px;
}

.app-p2{
    position: absolute;
    width: 100%;
    height: 9.86px;
    top: 400px;
    
    color: #135161;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
}


.app-bottom{
    position: absolute;
    width: 202px;
    height: 42px;
    left:43%;
    top: 400px;
    text-align: center;
    
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}

.app-bottom:hover{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 43%;
    top: 400px;
    text-align: center;
    
    color:#ffffff;
    background-color:#135161;
    transition: 1s;
    box-sizing: border-box;
    border-radius: 2px;
}


a:link { text-decoration: none; }　/*リンクの色*/
a:visited { text-decoration: none; } 
a:hover { text-decoration: none; } 
a:active { text-decoration: none; }

.web{
    position: absolute;
    width: 983px;
    height: 741px;
    left: 175px;
    top: 1400px;
}

#web-wrap{
    margin-top:80px;
}

.web-p1{
    top:4px;
    width: 80px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 632px;
    
    font-family: Roboto;
    font-style: normal;
    
    color: #135161;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    border-radius: 10px;
}

.web-p2{
    position: absolute;
    width: 100%;
    height: 9.86px;
    top: 400px;
    
    color: #135161;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
}

.web-bottom{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 43%;
    top: 400px;
    text-align: center;
    
    border: 2px solid #C4C4C4;
    transition: 1s;
    box-sizing: border-box;
    border-radius: 2px;
}

.web-bottom:hover{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 43%;
    top: 400px;
    text-align: center;
    
    color:#ffffff;
    background-color:#135161;
    transition: 1s;
    box-sizing: border-box;
    border-radius: 2px;
}


.other{
    position: absolute;
    width: 983px;
    height: 741px;
    left: auto;
    top: 1997px;
}

.other-p1{
    top:4px;
    width: 80px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 632px;
    
    font-family: Roboto;
    font-style: normal;
    
    color: #135161;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    border-radius: 10px;
}

.other-p2{
    position: absolute;
    width: 100%;
    height: 9.86px;
    top: 400px;
    
    color: #135161;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
}

.other-bottom{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 43%;
    top: 400px;
    text-align: center;
    
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}

.other-bottom:hover{
    position: absolute;
    width: 202px;
    height: 42px;
    left: 43%;
    top: 400px;
    text-align: center;
    
    color:#ffffff;
    background-color:#135161;
    transition: 1s;
    box-sizing: border-box;
    border-radius: 2px;
}

.app-box{
    
    position: absolute;
    width: 983px;
    height: 320px;
    left: 165px;
    top: 881px;
    margin-top:20px;
}


.web-box{
    
    position: absolute;
    width: 983px;
    height: 320px;
    left: 165px;
    top: 1565px;
}

.other-box{
    
    position: absolute;
    width: 983px;
    height: 320px;
    left: 165px;
    top: 2245px;

}

.app-p1 span::after{
    background-color: #135161;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin-top: 2px;
}

.web-p1 span::after{
    background-color: #135161;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin-top: 2px;
}

.other-p1 span::after{
    background-color: #135161;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin-top: 2px;
}
/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */

.nav p:hover::after{
    background-color: #135161;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin-top: 2px;
    
}
@keyframes scale-up-hor-left {
  0% {
            transform: scaleX(0.4);
            transform-origin: 0% 0%;
  }
  100% {
            transform: scaleX(1);
            transform-origin: 0% 0%;
  }
}

.profile-box{
    position: absolute;
    width: 1366px;
    height: 508px;
    left: 0px;
    top: 2828px;
    z-index: 1;
    background: #FFFFFF;
}

.profile h2{
   position: absolute;
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #74C9D1;
}

.ph1{
    position: absolute;
    width: 380;
    left: 758px;
    height: 90px;
    text-align: center;
    
    top:139px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.23em;
    
    color: #727272;
}

.ph0{
      position: absolute;
    width: 375;
    left: 758px;
    height: 90px;
    text-align: center;
    top:99px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.23em;
    
    color: 74C9D1;
}

.ph2{
    position: absolute;
    width: 375;
    left: 758px;
    height: 90px;
    text-align: center;
    top:259px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.23em;
    
    color: #727272;

}
.portme img{
    position: absolute;
    width: 298px;
    height: 298px;
    left: 252px;
    top: 105px;
}
.help_wrap{
    position: absolute;
    width: 100%;
    height: 349px;
    left: 0px;
    top: 3337px;
    text-align: center;
    background: #6AC5CE;
}

.confirm_help{
    padding-top:60px;
}
.help_font{
    color:#ffffff;
    font-family: Roboto;
    font-style: normal;
    line-height: 21px;
}

.help_font h2{
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    
    color:#ffffff;
}

.help_font h3{
    font-weight: normal;
    font-size: 18px;
    line-height: 35px; 
    
    color:#ffffff;
}

.help{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    margin: 5px;
    padding: 10px 100px;;
    background: #FFFFFF;
    
    color: #6AC5CE;

}

.help:hover{
    background: #FF8989;
    color: #ffffff;
}

.fotter{
    position: absolute;
    height: 301px;
    top: 3685px;
    width:100%;
    padding-top: 39x;
    padding-bottom: 39px;
    font-family: Roboto;
    font-style: normal;
    color: #135161;
    display: inline-block;
}

.qbox{
    width:400px;
    height:301px;
     margin-left: 190px;
     padding-bottom: 39px;
    padding-top: 39px;
    float: left;
    text-decoration: none;
}
.ibox{
    width: 400px;
    height: 301px;
    margin-right: 190px;
     padding-bottom: 39px;
    padding-top: 39px;
    float: right;
    text-align: right;
    text-decoration: none;
}

.qbox p{
   font-weight: 200;
    font-size: 16px;
    display: -webkit-box;
    
}

.ibox p{
   font-weight:normal;
    font-size: 16px;
    text-align: right;
    display: -webkit-box:end;
}

.qbox q0{
    width: 200px;
    height: 21px;
    margin-bottom:6px;
    left: 0px;
}

.qbox q1{
    width: 89px;
    height: 21px;
    margin-bottom: 29px;
    left: 0px;
}

.qbox q2{
    width: 267px;
    height: 71px;
    
    margin-bottom:6px;
    left: 0px;
}

.qbox q3{
    width: 177px;
    height: 21px;
    margin-bottom: 6px;
    left: 0px;
}

.qbox q4{
    height: 21px;
    left: 0px;
    margin-bottom: 29px;
    left: 0px;
}

.qbox q5{
    width: 374px;
    height: 21px;
    margin-bottom: 6px;
    left: 0px;
}

.qbox q6{
    width: 252px;
    height: 21px;
    left: 0px;
}

.ibox i1{
    height: 21px;
   margin-bottom: 27px;
   text-align: right;
}

.ibox i2{
    height: 21px;
   margin-bottom: 27px;
   text-align: right;
}

.ibox i3{
    height: 21px;
   margin-bottom:27px;
  text-align: right;
}

.ibox i4{
    height: 21px;
   margin-bottom: 36px;
   bottom: 0px;
  text-align: right;
}

.ibox i5{
height: 21px;
   bottom: 0px;
   text-align: right;
}
